{% extends "base.html" %}

{% block content %}

  <div class="jumbotron">
    <div class="container">

      <div class="row">

        <div class="col-md-6">
          <h2>
            {% if errors %}
              {% for error in errors %}
                <li>{{ error }}</li>
              {% endfor %}
            {% endif %}
            {% if query %}
              Miasto: <strong>{{query}}</strong>
            {% endif %}
          </h2>
        </div>

      <div class="col-md-4 col-md-offset-2">
        <form action="" method='get'>
            <label>Miasto: </label>
            <input type="text" name="q" placeholder="Search locations" class="form-control" value="{{request.GET.q}}" />
        </form>
      </div>

      </div>

    </div>
  </div>

  <div class="container">
    <div class="row">
      {% if locations %}
        <p>Found {{ locations|length }} location{{ locations|pluralize}}.</p>
        <ul class="location-list">
          {% for location in locations %}
            <li>
              {% if location.company.logo %}
                <img src="{{location.company.logo.url}}" class="img-responsive"/>
              {% else %}
                <img src="http://placehold.it/100x100">
              {% endif %}
              <h3>{{location.company.name}}</h3>
              <p>
              Total desks: {{location.total_desks}}
              </p>
              <p>
              Free desks: {{location.free_desks}}
              </p>
              <p>
              Price per desk: {{location.price}}$
              </p>
              <a href="{% url 'cowork:locations:rent' pk=location.id%}" class="btn btn-primary">
              Rent desk
              </a>
            </li>
          {% endfor %}
        </ul>
      {% else %}
        {% if query %}
          <p>No location matched your search criteria.</p>
        {% endif %}
      {% endif %}
    </div>
  </div>

{% endblock %}
